:root {
    --cst_banner_width: 500px;
    --cst_banner_max_height: 800px;
    --cst_banner_background: rgb(255, 255, 255);
    --cst_banner_overlap_color: rgb(0, 0, 0, 0.2);
    --cst_banner_border_radius: 20px;
    --cst_banner_border_color: transparent;
    --cst_banner_border_width:  0px;
    --cst_banner_border_sytle:  solid;
    --cst_banner_position_left: 50%;
    --cst_banner_position_right: 50%;
    --cst_headline_size: 25px;
    --cst_headline_color: rgb(0,0,0);
    --cst_headline2_size: 16px;
    --cst_headline2_color: rgb(0, 0, 0);
    --cst_paragraph_size: 14px;
    --cst_paragraph_color: rgb(31, 31, 31);
    --cst_accept_button_backround_color: rgb(15, 83, 200);
    --cst_accept_button_border_color: rgb(15, 83, 200);
    --cst_accept_button_color: rgb(255, 255, 255);
    --cst_accept_button_font_size: 18px;
    --cst_accept_button_font_weight: bold;
    --cst_accept_button_width: 25%;
    --cst_accept_border_radius: 20px;
    --cst_accept_border_width: 2px;
    --cst_reject_button_backround_color: rgb(15, 83, 200, 0);
    --cst_reject_button_border_color: rgb(15, 83, 200);
    --cst_reject_button_color: rgb(15, 83, 200);
    --cst_reject_button_font_size: 18px;
    --cst_reject_button_font_weight: normal;
    --cst_reject_button_width: 25%;
    --cst_reject_border_radius: 20px;
    --cst_reject_border_width: 2px;
    --cst_settings_button_backround_color: rgb(15, 83, 200, 0);
    --cst_settings_button_border_color: rgb(15, 83, 200);
    --cst_settings_button_color:  rgb(15, 83, 200);
    --cst_settings_button_font_size: 18px;
    --cst_setttings_button_font_weight: normal;
    --cst_settings_button_width: 25%;
    --cst_settings_border_radius: 20px;
    --cst_settings_border_width: 2px;
    --cst_link_color: rgb(0,0,0);
    --cst_link_font_size: 14px;
    --cst_link_decoration: underline;
}

.cst_container{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--cst_banner_overlap_color);
    z-index: 999;
}

.cst_container .cst_cookie_settings{
    position: fixed;
    width: 50px;
    height: 50px;
    max-width: 10%;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    left: 3%;
    bottom: 5%;
}

.cst_container .cst_cookie_settings img{
    height: 50%;
}

.cst_container .cst_banner{
    background-color: var(--cst_banner_background);
    border-radius: var(--cst_banner_border_radius);
    max-height: 90%;
    overflow: scroll;
    padding: 35px;
    max-width: 90%;
    width: var(--cst_banner_width);
    position: fixed;
    left: var(--cst_banner_position_left);
    top: var(--cst_banner_position_right);
    transform: translateX(-var(--cst_banner_position_left)) translateY(-var(--cst_banner_position_right));
    display: block;
}

.cst_container .cst_banner .cst_main_container{
    display: block;
}

.cst_container .cst_banner .cst_settings_container{
    display: none;
}

.cst_container .cst_banner .cst_vendors_container{
    display: none;
}

.cst_container .cst_banner .cst_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cst_container .cst_banner .cst_head .cst_image{
    max-width: 20%;
}

.cst_container .cst_banner .cst_head .cst_headline{
    font-weight: bold;
    font-size: var(--cst_headline_size);
    margin: 0px;
    margin-top: 10px;
    color: var(--cst_headline_color);
}

.cst_container .cst_banner .cst_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cst_container .cst_banner .cst_body .cst_text{
    font-weight: normal;
    font-size: var(--cst_paragraph_size);
    margin: 10px;
    color: var(--cst_paragraph_color);
}

.cst_container .cst_banner .cst_body .cst_button_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cst_container .cst_banner .cst_body .cst_button_wrap .cst_reject{
    min-width: var(--cst_reject_button_width);
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: var(--cst_reject_button_backround_color);
    color: var(--cst_reject_button_color);
    font-weight: normal;
    font-size: var(--cst_reject_button_font_size);
    border-radius: var(--cst_reject_border_radius);
    border-color: var(--cst_reject_button_border_color);
    border-width: var(--cst_reject_border_width);
    border-style: solid;
    text-decoration: none;
}

.cst_container .cst_banner .cst_body .cst_button_wrap .cst_settings{
    min-width: var(--cst_setting_button_width);
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: var(--cst_settings_button_backround_color);
    color: var(--cst_settings_button_color);
    font-weight: normal;
    font-size: var(--cst_settings_button_font_size);
    border-radius: var(--cst_settings_border_radius);
    border-color: var(--cst_settings_button_border_color);
    border-width: var(--cst_settings_border_width);
    border-style: solid;
    text-decoration: none;
}

.cst_container .cst_banner .cst_body .cst_button_wrap .cst_accept{
    min-width: var(--cst_accept_button_width);
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: var(--cst_accept_button_backround_color);
    color: var(--cst_accept_button_color);
    font-weight: normal;
    font-size: var(--cst_accept_button_font_size);
    border-radius: var(--cst_accept_border_radius);
    border-color: var(--cst_accept_button_border_color);
    border-width: var(--cst_accept_border_width);
    border-style: solid;
    text-decoration: none;
}

.cst_container .cst_banner .cst_body .cst_button_wrap .cst_link{
    text-decoration: underline;
    margin: 5px;
    font-size: 16px;
}

.cst_container .cst_banner .cst_body .cst_scroll{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    max-height: 60%;
    overflow: scroll;
    padding-bottom: 20px;
}

.cst_container .cst_banner .cst_body .cst_reason_h{
    font-weight: bold;
    font-size: var(--cst_headline2_size);
    margin: 5px;
    color: var(--cst_headline2_color);
}

.cst_container .cst_banner .cst_body .cst_reason_p{
    font-weight: normal;
    font-size: var(--cst_paragraph_size);
    margin: 5px;
    color: var(--cst_paragraph_color);
}

.cst_container .cst_banner .cst_body .cst_reason_table{
    margin: 5px;
    width:90%;
    padding: 10px
}

.cst_container .cst_banner .cst_body .cst_reason_table td, th, tr, table{
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-collapse: collapse;
    margin: 0;
}

.cst_container .cst_banner .cst_body .cst_reason_table th{
    padding: 4px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.1);
}

.cst_container .cst_banner .cst_body .cst_reason_table td{
    padding: 4px;
    text-align: start;
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.cst_container .cst_banner .cst_body .cst_link{
    text-decoration: var(--cst_link_decoration);
    margin: 5px;
    font-size: var(--cst_link_font_size);
    color: var(--cst_link_color);
}

.cst_reason_consent_switch {
    margin: 5px;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
  }
  
 .cst_reason_consent_checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .cst_reason_consent_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .cst_reason_consent_slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .cst_reason_consent_checkbox:checked + .cst_reason_consent_slider {
    background-color: #2196F3;
  }
  
  .cst_reason_consent_checkbox:focus + .cst_reason_consent_slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .cst_reason_consent_checkbox:checked + .cst_reason_consent_slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
